.single-route {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.single-route__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
	flex-direction: column;
}

.single-route__item {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.single-route__item-img {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 450px;
	height: 450px;
	position: relative;
}

.single-route__item-img-main {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.single-route__item-slider-button {
	background-color: rgba(224, 224, 224, 0.8);
	border: none;
	border-radius: 50%;
	padding: 4px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.single-route__item-slider-button-left {
	position: absolute;
	left: 3px;
	bottom: 50%;
}

.single-route__item-slider-button-right {
	position: absolute;
	right: 3px;
	bottom: 50%;
}

.single-route__item-options {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	gap: 20px;
}

.single-route__item-options-img {
	width: 90px;
	height: 90px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.single-route__item-options-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	padding: 5px;
}

.single-route__item-options-img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.single-route__item-body {
	text-align: left;
	margin-left: 20px;
}

.single-route__item-title {
	margin: 10px 0;
	font-size: 46px;
	font-weight: normal;
}

.single-route__item-description {
	margin: 10px 0;
	font-size: 17px;
	color: #555;
	font-weight: normal;
	max-width: 650px;
}

.single-route__item-price {
	margin: 5px 0;
	font-size: 28px;
	color: #333;
}

.single-route__item-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 15px;
}

.single-route__button {
	flex: 1;
	display: flex;
	align-items: center;
	height: 42px;
	padding: 10px 20px;
	border: none;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 1rem;
	font-weight: bold;
	transition: background-color 0.3s;
}

.single-route__button:hover {
	background-color: #555;
}

@media screen and (max-width: 900px) {
	.single-route__item-title {
		font-size: 38px;
	}
	.single-route__item-description {
		font-size: 14px;
	}
	.single-route__item-price {
		font-size: 24px;
	}
	.single-route__item-buttons {
		flex-direction: column;
		font-weight: normal;
	}
}

@media screen and (max-width: 768px) {
	.single-route {
		width: 100%;
	}
	.single-route__item {
		flex-direction: column;
		width: 100%;
	}
	.single-route__item-images {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 70px;
		align-items: center;
		justify-content: center;
	}
	.single-route__item-img {
		width: 100%;
	}
	.single-route__item-options-img {
		width: 75px;
		height: 75px;
	}
}
