.footer {
	width: 100%;
	background-color: #2c2c2c;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1200px;
}

.left-section {
	flex: 1;
	text-align: left;
}

.center-section {
	flex: 1;
	text-align: center;
}

.center-section > span {
	font-size: 28px;
	font-weight: bold;
}

.right-section {
	flex: 1;
	text-align: right;
}

.social-icon {
	margin: 0 10px;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	transition: color 0.3s ease;
}

.social-icon:hover {
	color: #1da1f2;
}

@media screen and (max-width: 760px) {
	.footer {
		margin-top: 30px;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.center-section > span {
		font-size: 24px;
	}

	.left-section {
		font-size: 14px;
	}
}
